:root {
    --primary-color: #28a745;
    --bg-color: #effef5;
    --text-color: #333;
    --container-bg: #fff;
    --border-color: #eee;
    --confirmed-bg: #d4edda;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100 vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.container {
    width: 600px;
    padding: 20px;
    background-color: var(--container-bg);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.heading {
    text-align: center;
    padding: 20px;
    font-size: 24px;
    font-weight: 500;
    border-bottom: 1px solid var(--border-color);
}

.add-wrapper {
    padding: 20px;
}

.details input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    margin-bottom: 10px;
}

.details input::placeholder {
    color: #bfc1ce;
}

.options {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}



.btn {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn.add {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
}

.btn.add:hover,
.btn.add:focus {
    background-color: #218838;
}

.btn.clear {
    background-color: #f8f9fa;
    border: 1px solid var(--border-color);
    color: var(--text-color);
}

.btn.clear:hover,
.btn.clear:focus {
    background-color: #e2e6ea;
}

.guest-list-wrapper {
    padding: 20px;
}


.guest-list-header {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
}

.guest-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 50px; 
}

.guest-item {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    gap: 10px;
}

.guest-item.confirmed {
    background-color: var(--confirmed-bg);
}

.guest-item .name {
    flex: 1;
    font-size: 16px;
    font-weight: 500;
}


.guest-item .btn {
    padding: 5px 15px;
    font-size: 12px;
}

.guest-item .btn.confirm {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
}

.guest-item .btn.confirm.confirmed {
    background-color: #155724;
}

.guest-item .btn.confirm:hover,
.guest-item .btn.confirm:focus {
    background-color: #218838;
}


.guest-item .btn.remove {
    background-color: #dc3545;
    color: #fff;
    border: none;
}

.guest-item .btn.remove:hover,
.guest-item .btn.remove:focus {
    background-color: #c82333;
}